@use 'sass:color';

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  min-height: calc(100dvh - 72px);
  background: linear-gradient(0.1turn, #0005, #0000), url('/img/satellite-image.png');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1rem 0;

  display: flex;
  align-items: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.ctas {
  display: flex;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;

    aspect-ratio: 1 / 1;

    border: 2px solid #1f2937;
    border-radius: 0.375rem;

    background: var(--jezz-bg-gradient);
    box-shadow: 0 0 #0000, 0 0 #0000, 3px 3px #1F2937;

    color: var(--jezz-cta-link-color);
    text-decoration: none;

    &:hover {
      background: linear-gradient(170deg, color.adjust(#fffbeb, $lightness: -8%), color.adjust(#fffbeb, $lightness: -16%));
    }

    &:active {
      background: linear-gradient(170deg, color.adjust(#fffbeb, $lightness: -16%), color.adjust(#fffbeb, $lightness: -24%));
    }
  }
}

.grid {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  row-gap: 2rem;


  @media (min-width: 768px) {
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.gridWide {
  grid-column: span 2 / span 2;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gridThin {
  grid-column: span 1 / span 1;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  flex: 1;
}

.main {
  background: repeating-linear-gradient(135deg, var(--jezz-home-stripe-color), var(--jezz-home-stripe-color) 50px, var(--ifm-background-color) 50px, var(--ifm-background-color) 100px)
}
